.datatable-rowexpansion-demo .product-badge > * {
  margin-right: 0.5rem;
  /* width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.datatable-rowexpansion-demo .types-subtable {
  padding: 1rem;
}
