.schema-options {
  fieldset {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  legend {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .input-group {
    display: flex;
    justify-content: space-between;
    p {
      flex: 1 0 auto;
    }
  }
  .slider-input {
    .input-group {
      > p {
        flex: 0 0 145px;
      }
      > span:first-of-type {
        flex: 1 0 50%;
      }
      > span:last-of-type {
        flex: 0 0 80px;
      }
    }
  }

  .warning-label {
    visibility: hidden;
  }
  .show-warning {
    .warning-label {
      visibility: hidden;
    }
  }
}

.form-fields-area {
  box-shadow: inset 4rem -4em 4em rgba(120, 120, 120, 0.12);
}

.slider-input {
  span:last-of-type {
    text-align: right;
  }
}
/**
inset 0 -3em 3em rgba(0,0,0,0.1),
      0 0  0 2px rgb(255,255,255),
      0.3em 0.3em 1em rgba(0,0,0,0.3);
inset 4rem -4em 4em rgba(120, 120, 120, 0.12), 0 0 0 2px white, 0.3em 0.3em 1em rgba(255, 0, 0, 0.8)
inset 4rem -4em 4em rgba(120, 120, 120, 0.12), 0 0 0 2px white
inset 4rem -4em 4em rgba(120, 120, 120, 0.12)
*/
