.code-viewer {
  .panel-body {
    position: relative;
    pre {
      max-height: 40vh;
    }
  }
}
.generated-code-toolbar {
  position: absolute;
  right: 0rem;
  top: -0.4rem;
  z-index: 10000;
}
