.output-buttons {
  flex-grow: 0;
  svg {
    max-height: 50px;
    max-width: 50px;
  }
  .MuiButtonBase-root {
    height: 66px;
    line-height: 1.2rem;
  }
  .MuiButton-label {
    max-width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}