.cursor-error {
  cursor: help;
}
.panel-error {
  cursor: help;
  svg {
    opacity: 0.5;
    color: #999;
  }
}

.current-xs,
.current-sm {
  .brand-link {
    font-size: 1.4rem;
  }
}
.brand-link {
  cursor: pointer;
  img {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 10px;
    width: 55px;
    height: 55px;
  }
}

.icon-button-box {
  transform: translateX(31px) translateY(-16px);
  align-items: flex-start;
  display: flex;
  justify-content: right;
  flex-direction: row;

  > a {
    flex-grow: 0;
    width: 36px;
    height: 36px;
    text-align: center;
  }
  > .expand-spacer {
    flex-grow: 4;
  }
}

.snack-close {
  font-size: 1.2rem;
  font-weight: 900;
  &:hover {
    color: #ffffff;
  }
}

// Credit: https://www.florin-pop.com/blog/2019/03/css-pulse-effect/
// More reading: https://css-tricks.com/almanac/properties/a/animation/
.pulse-error-icon {
  animation: pulse-red 2s infinite;
  color: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  border-radius: 100%;
  transform: scale(0.65);
  z-index: 100;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.65);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(0.9);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.65);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
