$color-secondary: #9c27b0;
$color-primary: #03a9f4;
$color-primary2: #0277bd;
$color-primary3: #01579b;

.demo-link {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // margin: 0.5rem auto;

  transition: all 0.5s ease-in;
  cursor: pointer;
  // text-decoration: underline;
  &:hover {
    color: #03a9f4;
    .roll-dice {
      animation: roll-dice 1.5s steps(6) infinite;
      background-color: #4527a0;
    }
  }
}

.roll-dice-wrapper {
  border: 1px solid #03a9f4;
  border-radius: 0.3rem;
  width: 28px;
  height: 28px;
  padding: 1px 1px 0 0;
}
.roll-dice {
  box-sizing: border-box;
  background-color: #03a9f4;
  &.animated {
    animation: roll-dice 0.75s steps(6) infinite;
  }
  border-radius: 0.5rem;
  display: inline-block;
  // animation: roll-dice 1.5s steps(6) infinite;
  background-image: url(../../../public/images/dice-sprite.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
}

@keyframes roll-dice {
  100% {
    background-position: -600px 0;
  }
  // 0% {
  //   background-position: 0 -0px;
  // }
  // 16% {
  //   background-position: 0 -100px;
  // }
  // 33% {
  //   background-position: 0 -200px;
  // }
  // 49% {
  //   background-position: 0 -300px;
  // }
  // 65% {
  //   background-position: 0 -400px;
  // }
  // 81% {
  //   background-position: 0 -500px;
  // }
  // 97% {
  //   background-position: 0 -600px;
  // }
}
// .current-xs,
// .current-sm {
//   .demo-data-buttons {
//     order: 3;
//     flex-wrap: nowrap;
//     justify-content: flex-start;
//     overflow-x: auto;
//   }
// }
// .schema-name-input {
//   order: 1;
// }

// .demo-data-buttons {
//   order: 3;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-end;
//   align-items: flex-end;
//   // align-items: center;
//   position: relative;
//   z-index: -1;

//   .MuiChip-root {
//     margin: 0 1.5px 1.5px 0;
//     display: flex;
//     justify-content: flex-start;
//     svg {
//       margin-left: 2.5px;
//     }
//   }

//   .MuiChip-label {
//     flex-grow: 1;
//     text-align: center;
//   }

//   label {
//     margin-right: 3px;
//     display: flex;
//     // align-items: center;
//     justify-content: center;
//     margin: 0;
//     line-height: 24px;
//     // height: 24px;
//     font-weight: 500;
//     svg {
//       margin: 0 2.5px;
//     }
//   }
// }
