/**
Breakpoint 	Class infix 	Dimensions
X-Small 	None 	<576px
Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px
Extra large 	xl 	≥1200px
Extra extra large 	xxl 	≥1400px
*/
// Bootstrap breaks
// Extra small screen / phone
$breakpoint-xs: 0;
// Small screen / phone
$breakpoint-sm: 576px;
// Medium screen / tablet
$breakpoint-md: 768px;
// Large screen / desktop
$breakpoint-lg: 992px;
// Extra large screen / wide desktop
$breakpoint-xl: 1200px;

.schema-name-input {
  flex: 0 1 auto;
}

main {
  // min-height: 85vh;
  // max-height: 94vh;
  // overflow-y: auto;
  // height: fit-content;
  // height: 95vh;
  position: absolute;
  bottom: 2rem;
  top: 0;
  right: 1rem;
  left: 1rem;

  flex-direction: column;
  display: flex;

  // margin: 0.25rem !important;

  &.current-xs {
    position: static;
    margin: 0 0 2rem 0;
  }
  &.current-sm {
    position: static;
    margin: 0 0 2rem 0;
  }
  // &.current-md {
  //   margin: 0rem !important;
  // }
  // &.current-lg {
  //   margin: 1rem !important;
  // }
  // &.current-xl {
  //   margin: 0rem 2.5rem 2rem 2.5rem !important;
  // }
}

.schema-options {
  legend {
    font-size: 1.3rem;
  }
}

.field-overlay {
  transition: opacity 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}

.appears-valid {
  .success-message {
    pointer-events: all;
    & :hover {
      pointer-events: all;
      opacity: 0.5 !important;
    }
    opacity: 0.975 !important;
  }
  .help-message {
    pointer-events: none;
    opacity: 1;
  }
}

a.unlocked {
  cursor: pointer;
  // color: #469408;
  font-weight: 500;
}
a.locked {
  cursor: not-allowed;
  color: #77777766;
  font-weight: 200;
  text-decoration: none;
}

main > nav {
  padding: 0.5rem;
}

.snack-close {
  font-size: 1.2rem;
  font-weight: 900;
  &:hover {
    color: #ffffff;
  }
}
